.header{
height: 100px;
border: solid black 1px;
}

.display_options{
height: 600px;
border: solid black 1px;
display: flex;
/* justify-content:space-between; */
flex-direction: row;
gap: 100px;

}

.options{
height: 98%;
width: 10%;
border: solid black 1px;
/* outline: 1px solid black; */
}

.display{
    
    height: 600px;
    width :1300px;
    border: solid black 1px;
    display: flex;
flex-wrap: wrap;
padding: 0px;
margin: 0px;
overflow: hidden;
}


#sizeRange{
    width: 600px;
}





.container{
    display: flex;
flex-wrap: wrap;
}
.boxes{
    height: 10px;
    width: 10px;
    border: solid grey 1px;
    /* border: 1px solid white; */

}

h1{
text-align: center;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;

}
.black{
    background-color: black;
}
